.container-about {
    width: 98vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-timeline-element>div {
    min-height: 1px;
    background-color: rgb(232, 238, 153);
}
.div-d {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-d video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
